.background-image-Veri {
    background-image: url('/home/ninjatech/Desktop/Live_Project/Financial_Tracking_System_User_frontend/src/assets/BackGroundImage.png');
    background-size: cover;
    background-position: center;
    min-height: 110vh;
    padding-top: 10px;
  }



  .box-Container-Veri{
    padding: 0px;
    margin-top: 0;
    margin-left: 375px !important;
    width: 60% !important;
}


.Second_container-Veri{
    background-color: #fff;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow:  0px 4px 12px rgba(0, 0, 0,0,1);
    padding: 20px;
}

.OTP{
    width: 26% !important;
    margin-left: 26% !important;
    height: 51px;
    background-color: #1976d2;

}