.container {
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url('/home/ninjatech/Desktop/Live_Project/Financial_Tracking_System_User_frontend/src/assets/BackGroundImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.container_title {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}